<div class="container m-4 card">
    <form >
        <div class="form-group">
          <label for="exampleFormControlInput1">Phone</label>
          <input type="tel" class="form-control" id="telephone" placeholder="enter phone number">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Appartment</label>
            <input type="text" class="form-control" id="appartment" placeholder="enter appartment">
          </div>
    
          <div class="form-group">
            <label for="exampleFormControlInput1">Room Number</label>
            <input type="text" class="form-control" id="room_number" placeholder="enter room number">
          </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Select service</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option value="1">Carpet cleaning</option>
       
          </select>
        </div>
    
      
      </form>
</div>